div {
    border-radius: 9px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 4px 9px black;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

.title-container {
    min-width: 300px;
    background-color: teal;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.rounded {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border-width: 4px;
    border-style: solid;
    box-shadow: 3px 6px black;
}

.header {
    border-width: 0;
    box-shadow: none;
}

.bio {
    font-size: 15px;
}

.main-container {
    padding: 50px;
    margin-top: 30px;
    background-color: #264653;
}

.sub-container {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    transition: all 0.3s;
    display: flex;
    justify-content: space-between;
}

.sub-container:hover {
    transform: scale(1.1);
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .main-container {
        border-width: 0;
        box-shadow: none;
        margin-top: 10px;
    }
    body {
        background-color: #264653;
    }
}