<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main-container">
        <div class="title-container">
            <img src="/profile" class="rounded" alt="">
            <div class="header">
                <h2>@Federicovet</h2>
                <p class="bio">Dott. Federico 25 anni e veterinario<br>Seguimi dove preferisci
                </p>
            </div>
        </div>
        <a href="https://vm.tiktok.com/ZMd9C2QJT/">
            <div class="sub-container">Tik-Tok<i class="fab fa-tiktok"></i></div>
        </a>
        <a href="https://www.youtube.com/channel/UCrw4FQO4GjyTGJoW_ddyfaw">
            <div class="sub-container">Youtube<i class="fab fa-youtube"></i></div>
        </a>
        <a href="https://www.instagram.com/fefoz96">
            <div class="sub-container">Instagram<i class="fab fa-instagram"></i></div>
        </a>
        <a href="http://paypal.me/pools/c/8ATdV572Eo">
            <div class="sub-container">Offrimi Un Caffe'<i class="fas fa-heart"></i></div>
        </a>
        <a href="#" class="mail">
            <div class="sub-container"> <span class="text-mail">Consulenza Medica</span><i class="fas fa-envelope"></i></div>
        </a>
    </div>
    <script src="/color"></script>
</body>

</html>