<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <div class="main-container">
        <div class="title-container">
            <h1>titolo esempio</h1>
        </div>
        <a href="#">
            <div class="sub-container">
                <section><i class="fa fa-facebook"> </i></section> link1</div>
        </a>
        <a href="#">
            <div class="sub-container">
                <section><i class="fa fa-twitter"> </i></section>link2</div>
        </a>
        <a href="#">
            <div class="sub-container">
                <section><i class="fa fa-instagram"> </i></section>link3</div>
        </a>
        <a href="#">
            <div class="sub-container">
                <section><i class="fa fa-snapchat"> </i></section>link4</div>
        </a>
        <a href="#">
            <div class="sub-container">
                <section><i class="fa fa-twitch"> </i></section>link5</div>
        </a>
        <a href="#">
            <div class="sub-container">
                <section><i class="fa fa-youtube"> </i></section>link6</div>
        </a>
    </div>
    <script src="/color"></script>
</body>

</html>