<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main-container">
        <div class="title-container">
            <h1>titolo esempio</h1>
        </div>
        <a href="#">
            <div class="sub-container">link1</div>
        </a>
        <a href="#">
            <div class="sub-container">link2</div>
        </a>
        <a href="#">
            <div class="sub-container">link3</div>
        </a>
        <a href="#">
            <div class="sub-container">link4</div>
        </a>
        <a href="#">
            <div class="sub-container">link5</div>
        </a>
        <a href="#">
            <div class="sub-container">link6</div>
        </a>
        <a href="#">
            <div class="sub-container">link7</div>
        </a>
    </div>
    <script src="/color"></script>
</body>

</html>